@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (&:where(.dark, .dark *)); */

@plugin "tailwindcss-animate";

@theme inline {
    --font-sans: 'Noto Sans TC', 'Noto Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
    :root {
        /* ? https://ui.ewgenius.me/shadcn-radix-colors?base=sand&mode=light&accent=amber&primary=orange&destructive=ruby */
        --background: hsl(60 20% 99.01960784313727%);
        --foreground: hsl(47.99999999999997 8.196721311475414% 11.96078431372549%);
        --card: hsl(60 7.692307692307676% 97.45098039215686%);
        --card-foreground: hsl(47.99999999999997 8.196721311475414% 11.96078431372549%);
        --popover: hsl(60 20% 99.01960784313727%);
        --popover-foreground: hsl(47.99999999999997 8.196721311475414% 11.96078431372549%);
        --primary: hsl(23.849372384937237 100% 46.86274509803921%);
        --primary-foreground: hsl(0 0% 100%);
        --secondary: hsl(60 7.692307692307676% 97.45098039215686%);
        --secondary-foreground: hsl(60 2.590673575129532% 37.84313725490196%);
        --muted: hsl(60 7.692307692307676% 97.45098039215686%);
        --muted-foreground: hsl(60 2.590673575129532% 37.84313725490196%);
        --accent: hsl(42.07792207792208 100% 54.70588235294118%);
        --accent-foreground: hsl(23.999999999999996 39.82300884955753% 22.15686274509804%);
        --destructive: hsl(347.32919254658384 69.6969696969697% 54.70588235294118%);
        --destructive-foreground: hsl(344.4155844155844 62.601626016260155% 24.11764705882353%);
        --border: hsl(45 5.128205128205112% 84.70588235294117%);
        --input: hsl(45 5.128205128205112% 84.70588235294117%);
        --ring: hsl(45 5.128205128205112% 84.70588235294117%);
        --radius: 0.5rem;
    }
    .dark {
        --background: hsl(60 3.0303030303030307% 6.470588235294117%);
        --foreground: hsl(60 5.555555555555538% 92.94117647058823%);
        --card: hsl(60 2.0408163265306123% 9.607843137254902%);
        --card-foreground: hsl(60 5.555555555555538% 92.94117647058823%);
        --popover: hsl(60 3.0303030303030307% 6.470588235294117%);
        --popover-foreground: hsl(60 5.555555555555538% 92.94117647058823%);
        --primary: hsl(25.982142857142854 100% 56.07843137254902%);
        --primary-foreground: hsl(0 0% 100%);
        --secondary: hsl(60 2.0408163265306123% 9.607843137254902%);
        --secondary-foreground: hsl(44.999999999999844 5.1282051282051295% 69.41176470588235%);
        --muted: hsl(60 2.0408163265306123% 9.607843137254902%);
        --muted-foreground: hsl(44.999999999999844 5.1282051282051295% 69.41176470588235%);
        --accent: hsl(49.95918367346939 100% 51.9607843137255%);
        --accent-foreground: hsl(23.999999999999996 39.82300884955753% 22.15686274509804%);
        --destructive: hsl(350.13698630136986 79.34782608695653% 63.92156862745099%);
        --destructive-foreground: hsl(339.54545454545456 95.6521739130435% 90.98039215686275%);
        --border: hsl(44.99999999999994 3.508771929824561% 22.35294117647059%);
        --input: hsl(44.99999999999994 3.508771929824561% 22.35294117647059%);
        --ring: hsl(44.99999999999994 3.508771929824561% 22.35294117647059%);
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground font-sans font-normal;
    }

    /* ? tailwindcss v4.0 https://tailwindcss.com/docs/upgrade-guide#new-default-border-color */
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
    input::placeholder,
    textarea::placeholder {
        color: theme(--color-gray-400);
    }
}
